@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

/* #app {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* body {
    background-color: rgb(9, 138, 108);
} */


button {
  box-shadow: -1px -1px 6px #f2f2f2, 1px 1px 6px #D7E1F0;
  margin: 0;
  border: 1px solid rgb(255, 255, 255);
  color: rgba(23, 23, 23, 0.85);
  background-color: rgb(255, 255, 255);
}

button:disabled {
  box-shadow: -1px -1px 6px #f2f2f200, 1px 1px 6px #d7e1f000;
  color: rgba(0, 0, 0, 0.519);
  background-color: rgba(255, 255, 255, 0.7);
}

button:active {
  box-shadow: inset -1px -1px 6px #f2f2f2, inset 1px 1px 6px #D7E1F0;
  transform: scale(0.98);
  /* scale: (0.8); */
}

button:disabled:active {
  box-shadow: inset 1px 1px 4px 1px rgba(37, 37, 37, 0);
  transform: scale(1);
  /* scale: (0.8); */
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
